[Unit]
Description=alabofur bandwidth shaping
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=@ALABOFUR_BIN@ service-run
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
